setuptools
wheel
opencv-python>=4.8.0
opencv-contrib-python>=4.8.0
numpy>=1.26.0
google-auth-oauthlib>=1.1.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.100.0
google-ai-generativelanguage>=0.4.0
google-generativeai>=0.3.0
PyAudio==0.2.13
SpeechRecognition>=3.10.0
pyttsx3>=2.90
PyQt5>=5.15.9
python-dotenv>=1.0.0
requests>=2.31.0
Pillow>=10.0.1
